// SrollTop
.sroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
.icon-top {
    font-size: 2.5rem;
    border-radius: 99px;
    // min-width: 70px;
    padding: 6px 0px 6px 7px;
}
