.link {
    text-decoration: none;
    color: inherit;
}

.poster {
    position: relative;
    height: 17vw;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1; /* Ensure .poster has a z-index */
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.poster:hover .img {
    transform: scale(1.2);
    opacity: 0.5;
}

.status {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    background: rgba(224, 149, 15, 0.9);
    z-index: 9;
    border-radius: 3px;
    padding: 4px;
    width: auto;
    max-width: 100px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 5px 0 15px 0;
}

.title--eng {
    font-size: 1.6rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal; /* Ensures normal white space handling */
    text-overflow: ellipsis;
}

.title--vi {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10; /* Ensure .play-icon is above .img */
}

.poster:hover .play-icon {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 1;
}
